@model KarateClub.Core.BeltRank

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BeltRank</h4>
<hr />
<div class="card" style="width:50%;">
    <div class="card-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RankName" class="control-label"></label>
                <input asp-for="RankName" class="form-control" />
                <span asp-validation-for="RankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestFees" class="control-label"></label>
                <input asp-for="TestFees" class="form-control" />
                <span asp-validation-for="TestFees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
