@using KarateClub.Gloable
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KarateClub.styles.css" asp-append-version="true" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">


    <!-- Custom styles for this template-->
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- الشريط الجانبي -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- أزرار إضافية -->
            <li class="nav-item">
                <a class="nav-link" href="/User/Index">
                    <i class="fas fa-user"></i>
                    <span>User</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/Login">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Login</span>
                </a>
            </li>

            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/Home/Index">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>الرئيسية</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">الواجهة</div>

            <li class="nav-item">
                <a class="nav-link" href="/Person/Index">
                    <i class="fas fa-fw fa-user"></i>
                    <span>الأشخاص</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Member/Index">
                    <i class="fas fa-fw fa-users"></i>
                    <span>الأعضاء</span>
                </a>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">الإضافات</div>

            <li class="nav-item">
                <a class="nav-link" href="/Instructor/Index">
                    <i class="fas fa-fw fa-chalkboard-teacher"></i>
                    <span>المدرب</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/BeltRank/Index">
                    <i class="fas fa-fw fa-trophy"></i>
                    <span>رتبة الحزام</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Payment/Index">
                    <i class="fas fa-fw fa-credit-card"></i>
                    <span>المدفوعات</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/SubscriptionPeriod/Index">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>فترة الاشتراك</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/BeltTest/Index">
                    <i class="fas fa-fw fa-check-circle"></i>
                    <span>اختبار الحزام</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MemberInstructor/Index">
                    <i class="fas fa-fw fa-user-graduate"></i>
                    <span>مدرب الأعضاء</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- نهاية الشريط الجانبي -->

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="ابحث عن..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">مركز التنبيهات</h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">12 ديسمبر 2019</div>
                                        <span class="font-weight-bold">تقرير شهري جديد جاهز للتنزيل!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">عرض جميع التنبيهات</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">مركز الرسائل</h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">مرحبًا! أود أن أعرف ما إذا كان بإمكانك مساعدتي في مشكلة أواجهها.</div>
                                        <div class="small text-gray-500">إميلي فاولر · منذ 58 دقيقة</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">قراءة المزيد من الرسائل</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">مرحبا @clsGloable._UserGloable.UserName@(clsGloable._UserGloable != null ? clsGloable._UserGloable.Username : ".....")</span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                               
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> الملف الشخصي
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="/Account/Logout">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>


                        
                    </ul>
                </nav>
                <!-- نهاية الشريط العلوي -->

                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>حقوق النشر &copy; موقعك 2021</span>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- نهاية حاوية المحتوى -->
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/js/demo/chart-area-demo.js"></script>
    <script src="~/js/demo/chart-pie-demo.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>




 
   

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>